$shadow-color: #273126;
$shadow-color-hover: #394e38;

#background {
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width:100%;
}
.input {
height: 100vh;
}

#blackout {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: 1s;
  background-color: black;
}

.form-container {
  position: absolute;
  z-index: 10;
}

form {
  margin-top: 48vh;
  transition: 0.5s;

  #error {
    color: rgba(255, 0, 0, 0.0);
  }

  .form-inner {
    margin: 10px 0;
  }

  button {
    height: 50px;
    border-radius: 25px;
    border: none;
    text-align: center;
    padding: 0 20px;
    background-color: mediumseagreen;
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: #2a764b;
    }
  }

  select {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    text-align: center;
    padding: 0 20px;
    margin: 0 15px;
  }

  input {
    min-width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    text-align: center;


  }
}

.stats {
  ul {
    padding-left: 0px;

    li {
      list-style-type: none;
      color: white;
    }

    #cityname h1 {
      font-size: 2.2rem;
    }

    #date {
      font-size: 1.3rem;
    }

    #degrees {
      font-size: 5rem;
    }

    #divider {
      margin: 0 auto;
      width: 180px;
      border-top:2px solid white;
      padding:10px 0;
    }

    #condition {
      font-size: 1.3rem;
    }

    #minmax {
      font-size: 1.3rem;
    }
  }


}

.weather {
  display: none;
}

#target table {
  margin:0 auto;
  height: 400px;
  margin-top:50px;
  color:white;

  td {
    height: 60px;
    padding:0 30px;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}
